
body {
  background-color: #f5f5f5;
}

.sidebar {
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.card-stat {
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
}
